name: Deploy to Production

on:
  push:
    branches:
      - main  # Only triggers when code is merged into main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Navigate to the app directory
            cd /home/ubuntu/SenderismoCR

            # Right branch
            git checkout main
            
            # Pull latest changes from git
            git pull
            
            # Rebuild and restart containers
            docker compose -f docker-compose.prod.yml up -d --build
            
            # Prune old images to save disk space (Optional/CISO recommended)
            # docker image prune -f